In [169]:
import pandas as pd
data = pd.read_csv('/content/Classification_Loan_Data.csv')
data.head()

,ID,Income_of_Applicant,Income_of_Joint_Applicant,Loan_Amount_Requirement,Loan_Amount_Term,Credit_History,Gender,Is_Married,No_of_Dependents,Level_of_Education,IS_Self_Employed,Area_of_Property,Loan_Status
0,1,5849,0.0,NaN,360.0,1.0,Male,No,0,Graduate,No,Urban,Y
1,2,4583,1508.0,128.0,360.0,1.0,Male,Yes,1,Graduate,No,Rural,N
2,3,3000,0.0,66.0,360.0,1.0,Male,Yes,0,Graduate,Yes,Urban,Y
3,4,2583,2358.0,120.0,360.0,1.0,Male,Yes,0,Not Graduate,No,Urban,Y
4,5,6000,0.0,141.0,360.0,1.0,Male,No,0,Graduate,No,Urban,Y

In [170]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         614 non-null    int64
 1   Income_of_Applicant        614 non-null    int64
 2   Income_of_Joint_Applicant  614 non-null    float64
 3   Loan_Amount_Requirement    592 non-null    float64
 4   Loan_Amount_Term           600 non-null    float64
 5   Credit_History             564 non-null    float64
 6   Gender                     601 non-null    object
 7   Is_Married                 611 non-null    object
 8   No_of_Dependents           599 non-null    object
 9   Level_of_Education         614 non-null    object
 10  IS_Self_Employed           582 non-null    object
 11  Area_of_Property           614 non-null    object
 12  Loan_Status                614 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

In [171]:
data.isna().sum()

ID                            0
Income_of_Applicant           0
Income_of_Joint_Applicant     0
Loan_Amount_Requirement      22
Loan_Amount_Term             14
Credit_History               50
Gender                       13
Is_Married                    3
No_of_Dependents             15
Level_of_Education            0
IS_Self_Employed             32
Area_of_Property              0
Loan_Status                   0
dtype: int64

In [172]:
dataN = data.dropna()
dataN
dataN = dataN.drop(['ID'], axis=1)
dataN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Income_of_Applicant        480 non-null    int64
 1   Income_of_Joint_Applicant  480 non-null    float64
 2   Loan_Amount_Requirement    480 non-null    float64
 3   Loan_Amount_Term           480 non-null    float64
 4   Credit_History             480 non-null    float64
 5   Gender                     480 non-null    object
 6   Is_Married                 480 non-null    object
 7   No_of_Dependents           480 non-null    object
 8   Level_of_Education         480 non-null    object
 9   IS_Self_Employed           480 non-null    object
 10  Area_of_Property           480 non-null    object
 11  Loan_Status                480 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 48.8+ KB

In [173]:
dataN.columns

Index(['Income_of_Applicant', 'Income_of_Joint_Applicant',
       'Loan_Amount_Requirement', 'Loan_Amount_Term', 'Credit_History',
       'Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education',
       'IS_Self_Employed', 'Area_of_Property', 'Loan_Status'],
      dtype='object')

In [174]:
y = dataN['Loan_Status']
x = dataN[['Income_of_Applicant', 'Income_of_Joint_Applicant',
       'Loan_Amount_Requirement', 'Loan_Amount_Term', 'Credit_History',
       'Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education',
       'IS_Self_Employed', 'Area_of_Property']]

In [175]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2)

In [176]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education', 'IS_Self_Employed', 'Area_of_Property']

In [177]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
X_train[object_cols] = ordinal_encoder.fit_transform(X_train[object_cols])
X_test[object_cols] = ordinal_encoder.transform(X_test[object_cols])

In [178]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((336, 11), (144, 11), (336,), (144,))

In [179]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier()
rfc.fit(X_train,y_train)
y_pred=rfc.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.7430555555555556

In [180]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(max_iter=1000)

log_model.fit(X_train,y_train)
y_pred=log_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7777777777777778

In [181]:
from sklearn.neighbors import KNeighborsClassifier
kmodel = KNeighborsClassifier()  

kmodel.fit(X_train,y_train)
y_Pred = kmodel.predict(X_test)
accuracy_score(y_test,y_pred)

0.7777777777777778

In [182]:
data.columns

Index(['ID', 'Income_of_Applicant', 'Income_of_Joint_Applicant',
       'Loan_Amount_Requirement', 'Loan_Amount_Term', 'Credit_History',
       'Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education',
       'IS_Self_Employed', 'Area_of_Property', 'Loan_Status'],
      dtype='object')

In [183]:
y = data['Loan_Status']
x = data[['Income_of_Applicant', 'Income_of_Joint_Applicant',
       'Loan_Amount_Requirement', 'Loan_Amount_Term', 'Credit_History',
       'Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education',
       'IS_Self_Employed', 'Area_of_Property']]

In [184]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         614 non-null    int64
 1   Income_of_Applicant        614 non-null    int64
 2   Income_of_Joint_Applicant  614 non-null    float64
 3   Loan_Amount_Requirement    592 non-null    float64
 4   Loan_Amount_Term           600 non-null    float64
 5   Credit_History             564 non-null    float64
 6   Gender                     601 non-null    object
 7   Is_Married                 611 non-null    object
 8   No_of_Dependents           599 non-null    object
 9   Level_of_Education         614 non-null    object
 10  IS_Self_Employed           582 non-null    object
 11  Area_of_Property           614 non-null    object
 12  Loan_Status                614 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

In [185]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2)

In [186]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Gender', 'Is_Married', 'No_of_Dependents', 'Level_of_Education', 'IS_Self_Employed', 'Area_of_Property']

In [187]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
X_train[object_cols] = ordinal_encoder.fit_transform(X_train[object_cols])
X_test[object_cols] = ordinal_encoder.transform(X_test[object_cols])

In [188]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
X_test = pd.DataFrame(my_imputer.transform(X_test))

In [199]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(max_iter=1000)

log_model.fit(X_train,y_train)
y_pred=log_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7891891891891892